@font-face {
    font-family: 'CoreCircus';
    src: url('../fonts/CoreCircus.eot'); /* IE9 Compat Modes */
    src: url('../fonts/CoreCircus.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/CoreCircus.woff') format('woff'), /* Modern Browsers */
        url('../fonts/CoreCircus.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Mustache';
    src: url('../fonts/mustache-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/mustache-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/mustache-webfont.woff') format('woff'), /* Modern Browsers */
        url('../fonts/mustache-webfont.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Global Settings */
html, body, #content {
    height: 100%;
    min-width: 300px;
}

body {
    font-family: "CoreCircus";
}

h2.brush-script {
    margin: 40px 0;
}

a, a:hover, a:visited {
    color: #333333;
}

.navbar-default {
    background-color: #333333;
    border: #333333;
}

/* home button */
.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

/* Centred Nav Bar Content for Desktop view only */
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/* Emphasis blue text */
.bluetext {
    color: #4276a5;
}

.row-extra-padding {
    padding-bottom: 25px;
}

.container-full-height, .row-full-height {
    min-height: 100%;
}


.brush-script {
    font-family: "Mustache";
    font-size: 120px;
}

#welcome {
    display: table;
    position: absolute;
    height: 100%;
}

#welcome .vert-center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#main-image {
    padding: 25px;
}

#location {
    background-color: #c7e2e2;
}

#wheretostay {
    background-image: url(../images/coastbw3.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

#theday {
    background-color: #ffe7e7; /* #ffe0e0 ffc4c4 */
}

#contact {
    background-color: #333333;
    color: #ffffff;
    color: #ffffff;
}

#contact a {
    color: #ffffff;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
}

.alert {
    position: absolute;
    bottom: 10px;
    margin: 0 10px;
}
